{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <label for="inputUsername">Mail</label>
        <input type="email" value="{{ last_username }}" name="_username" id="inputUsername" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="_password" id="inputPassword" required>

        <button type="submit">Connexion</button>
    </form>

    <a href="{{ path('user_add') }}">Inscription</a>
{% endblock %}
